
@{
    Layout = null;
}

@model CRUDWithMongoDB.Entities.Account

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Add</title>
</head>
<body>
    @using (Html.BeginForm("Add", "Account", FormMethod.Post))
    {
    <table>
        <tr>
            <td>Username</td>
            <td>
                @Html.TextBoxFor(a => a.Username)
            </td>
        </tr>
        <tr>
            <td>Password</td>
            <td>
                @Html.PasswordFor(a => a.Password)
            </td>
        </tr>
        <tr>
            <td>Full Name</td>
            <td>
                @Html.TextBoxFor(a => a.FullName)
            </td>
        </tr>
        <tr>
            <td>Status</td>
            <td>
                @Html.CheckBoxFor(a => a.Status)
            </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>
                <input type="submit" value="Save"/>
            </td>
        </tr>
    </table>
    }
</body>
</html>
